#game-div { 
  position: absolute;
  margin-top: 20px;
  background-color: black;
  height: 700px;
  width: 500px;
  background-image: url("images/scene.png");
}

#bird {
  position: absolute;
  height: 50px;
  width: 60px;
  left: 140px;
  z-index: 2000;
  background-image: url("images/blue_bird.png");
}

#ground {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 500px;
  z-index: 1000;
}

.bottom-obstacle, .top-obstacle {
  position: absolute;
  width: 65px;
  height: 300px;
  background-color: transparent;
}

