*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  overflow: hidden;
  font-family: "Cascadia Code";
}

#game-div { 
  overflow: hidden;
  border-color: rgb(36, 36, 36);
  position: absolute;
  background-color: black;
  height: 700px;
  width: 500px;
  background-image: url("images/scene.png");
}

#title {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  align-items: center;
  z-index: 10000;
  inset: 0;
  padding-top: 100px;
  margin: 0px;
}

.subtitle {
  margin-top: 15px;
}

.hidden {
  visibility: hidden;
}

#bird {
  position: absolute;

  --bird-bottom: 380;
  --bird-height: 50px;
  --bird-width: 60px;

  height: var(--bird-height);
  width: var(--bird-width);
  bottom: calc(var(--bird-bottom) * 1px);

  left: 130px;
  z-index: 2000;
  background-image: url("images/blue_bird.png");
}

#ground {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 500px;
  z-index: 1000;
}

.bottom-obstacle, .top-obstacle {
  position: absolute;
  width: 65px;
  height: 300px;
}

.pipe {
  --pipe-width: 60;
  --pipe-left: 500;
  --hole-top: 500;
  --hole-height: 220;
  position: absolute;
  top: 0px;
  bottom: 144px;
  width: calc(var(--pipe-width) * 1px);
  left: calc(var(--pipe-left) * 1px);
}

.pipe > .segment {
  position: absolute;
  width: 100%;
  height: 220px;
  z-index: 300;
  background: transparent;
}

.pipe > .top {
  top: 0px;
  bottom: calc(var(--hole-top) * 1px)
}

.pipe > .bottom {
  bottom: 0px;
  top: calc(100vh - var(--hole-top)  + calc(var(--hole-height) )* 1px)
}

